# Dictionary

Key/value pairs

In [1]:
a = {'one': 1, 'two': 2, 'three': 3}
b = dict(one=1, two=2, three=3)
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
a == b == c == d

True

In [2]:
students = {"Aaron": 95, "Kevin": 80, "Ola": 87, "David": 91}

In [3]:
students

{'Aaron': 95, 'David': 91, 'Kevin': 80, 'Ola': 87}

In [4]:
students["David"]

91

In [5]:
students.get("David")

91

In [6]:
students["Eric"]

KeyError: 'Eric'

In [7]:
students.get("Eric")

In [8]:
students.get("Eric", "0")

'0'

In [9]:
{'Jordan': {'Homework 1': 92,
            'Homework 2': 87},
 'Gale': {'Homework 1': 88,
          'Homework 2': 76},
 'River': {'Homework 1': 85,
           'Homework 2': 91}}

{'Gale': {'Homework 1': 88, 'Homework 2': 76},
 'Jordan': {'Homework 1': 92, 'Homework 2': 87},
 'River': {'Homework 1': 85, 'Homework 2': 91}}

In [35]:
grades = {'Jordan': {'Homework 1': 92,
            'Homework 2': 87},
 'Gale': {'Homework 1': 88,
          'Homework 2': 76},
 'River': {'Homework 1': 85,
           'Homework 2': 91}}

In [11]:
grades

{'Gale': {'Homework 1': 88, 'Homework 2': 76},
 'Jordan': {'Homework 1': 92, 'Homework 2': 87},
 'River': {'Homework 1': 85, 'Homework 2': 91}}

In [12]:
grades['Gale']

{'Homework 1': 88, 'Homework 2': 76}

In [13]:
grades['Gale']['Homework 1']

88

In [14]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(iter1 [,iter2 [...]]) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [15]:
students = ["Aaron", "David", "Ola", "Kevin"]
grades = [98, 80, 83, 91]

In [16]:
zip(students, grades)

In [17]:
list(zip(students, grades))

[('Aaron', 98), ('David', 80), ('Ola', 83), ('Kevin', 91)]

In [18]:
grade_dict = dict(zip(students, grades))

In [19]:
grade_dict

{'Aaron': 98, 'David': 80, 'Kevin': 91, 'Ola': 83}

# Methods

In [20]:
grade_dict["Eric"] = 89

In [21]:
grade_dict

{'Aaron': 98, 'David': 80, 'Eric': 89, 'Kevin': 91, 'Ola': 83}

In [22]:
grade_dict["Eric"] = 23

In [24]:
grade_dict

{'Aaron': 98, 'David': 80, 'Eric': 23, 'Kevin': 91, 'Ola': 83}

In [27]:
grade_dict.keys()

dict_keys(['Aaron', 'Eric', 'Kevin', 'Ola', 'David'])

In [28]:
grade_dict.values()

dict_values([98, 23, 91, 83, 80])

In [29]:
grade_dict.items()

dict_items([('Aaron', 98), ('Eric', 23), ('Kevin', 91), ('Ola', 83), ('David', 80)])

In [33]:
grades = list(grade_dict.values())

In [34]:
grades

[98, 23, 91, 83, 80]

# Looping

In [37]:
grades = {'Jordan': {'Homework 1': 92,
            'Homework 2': 87},
 'Gale': {'Homework 1': 88,
          'Homework 2': 76},
 'River': {'Homework 1': 85,
           'Homework 2': 91}}

In [38]:
for student in grades:
    print(student)

River
Jordan
Gale

In [39]:
my_tuple = (1,2,3)

In [40]:
first, second, third = my_tuple

In [41]:
first

1

In [42]:
first, second = my_tuple

ValueError: too many values to unpack (expected 2)

In [43]:
grades.items()

dict_items([('River', {'Homework 1': 85, 'Homework 2': 91}), ('Jordan', {'Homework 1': 92, 'Homework 2': 87}), ('Gale', {'Homework 1': 88, 'Homework 2': 76})])

In [45]:
for student, grade in grades.items():
    print(student + str(grade))

River{'Homework 1': 85, 'Homework 2': 91}
Jordan{'Homework 1': 92, 'Homework 2': 87}
Gale{'Homework 1': 88, 'Homework 2': 76}

# Ordering Dict Data

In [46]:
grade_dict

{'Aaron': 98, 'David': 80, 'Eric': 23, 'Kevin': 91, 'Ola': 83}

In [47]:
grade_dict.items()

dict_items([('Aaron', 98), ('Eric', 23), ('Kevin', 91), ('Ola', 83), ('David', 80)])

In [49]:
sorted(grade_dict.items(), key=lambda x: x[1], reverse=True)

[('Aaron', 98), ('Kevin', 91), ('Ola', 83), ('David', 80), ('Eric', 23)]

In [52]:
def sort_dict(x):
    return x[1]

In [53]:
sorted(grade_dict.items(), key=sort_dict, reverse=True)

[('Aaron', 98), ('Kevin', 91), ('Ola', 83), ('David', 80), ('Eric', 23)]