# String

In [1]:
len("Hello world")

11

In [2]:
len("")

0

In [3]:
foo = "Hello world"
foo[0]

'H'

In [4]:
foo[1:]

'ello world'

In [6]:
foo[1:]

'ello world'

In [7]:
foo[:]

'Hello world'

In [8]:
foo[:-1]

'Hello worl'

In [16]:
"H" in foo

True

In [ ]:
"a" in "aeiouAEIOU"

# List

In [9]:
students = ["Aaron", "Ola", "David", "Kevin"]

In [10]:
students[0]

'Aaron'

In [11]:
students[-1]

'Kevin'

In [12]:
len(students)

4

In [13]:
min(students)

'Aaron'

In [14]:
max(students)

'Ola'

In [15]:
"Jeff" in students

False

In [17]:
"Ola" in students

True

In [18]:
students.count("Ola")

1

In [19]:
new_student = "Jack"
multi_student = ["Jill", "Ben", "John"]

students.append(new_student)

In [20]:
students

['Aaron', 'Ola', 'David', 'Kevin', 'Jack']

In [21]:
students.extend(new_student)

In [22]:
students

['Aaron', 'Ola', 'David', 'Kevin', 'Jack', 'J', 'a', 'c', 'k']

In [23]:
students.append(multi_student)

In [24]:
students

['Aaron',
 'Ola',
 'David',
 'Kevin',
 'Jack',
 'J',
 'a',
 'c',
 'k',
 ['Jill', 'Ben', 'John']]

In [25]:
students.extend(multi_student)

In [26]:
students

['Aaron',
 'Ola',
 'David',
 'Kevin',
 'Jack',
 'J',
 'a',
 'c',
 'k',
 ['Jill', 'Ben', 'John'],
 'Jill',
 'Ben',
 'John']

In [27]:
students.pop()

'John'

In [28]:
students

['Aaron',
 'Ola',
 'David',
 'Kevin',
 'Jack',
 'J',
 'a',
 'c',
 'k',
 ['Jill', 'Ben', 'John'],
 'Jill',
 'Ben']

In [29]:
help(students.pop)

Help on built-in function pop:

pop(...) method of builtins.list instance
    L.pop([index]) -> item -- remove and return item at index (default last).
    Raises IndexError if list is empty or index is out of range.

In [30]:
students.remove("Jill")

In [31]:
students

['Aaron',
 'Ola',
 'David',
 'Kevin',
 'Jack',
 'J',
 'a',
 'c',
 'k',
 ['Jill', 'Ben', 'John'],
 'Ben']

In [32]:
del students[4]

In [33]:
students

['Aaron',
 'Ola',
 'David',
 'Kevin',
 'J',
 'a',
 'c',
 'k',
 ['Jill', 'Ben', 'John'],
 'Ben']

In [34]:
bar = [1, "2", "hello", True]

In [35]:
max(bar)

TypeError: unorderable types: str() > int()

In [36]:
none_list.append(1)

NameError: name 'none_list' is not defined